footer {
    span {
        cursor: pointer
    }

    ul {
        @extend .d-flex;
        @extend .margin-none;
        @extend .padding-left-none;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        gap: $marge-m
    }

    .content {
        padding: 3.75rem $marge-d-x;
        color: white;
        a {
            text-decoration: none;
        }
    }

    // Newsletter
    .newsletter {
        @extend .border-top;
        @extend .border-bottom;
        background-color: #151515;

        #news-form {
            @extend .position-relative;

            input {
                &[type=email] {
                    height: 58px;
                    margin-bottom: 40px;
                }

                &[type=submit] {
                    @extend .position-absolute-no-sm;
                    top: 0;
                    right: 0;
                }

                &[type=checkbox] {
                    margin: 0 20px 0 0;
                }
            }
        }
    }

    // Social
    .social {
        @extend .border-right-no-sm;
        background-color: #020202;

        a {
            @extend .d-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background-color: $colorS;
            border: .125rem solid $colorS;
            border-radius: 10rem;
            transition-duration: .5s;
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0);
                opacity: 1;
            }
        }
    }

    // Sign
    .sign {
        background-color: #020202;

        p {
            margin-bottom: 1rem;
        }
    }

    @media screen and (max-width: $sm) {

        .newsletter,
        .social {
            .content {
                margin-top: 10vw;
            }
        }

        .newsletter {
            #news-form {
                input[type="submit"] {
                    margin-bottom: 10vw;
                }
            }
        }

        ul {
            gap: 1rem;
        }

        .content {
            padding: 0 $marge-d-x 10vw;

            ul {
                flex-wrap: wrap;
            }
        }
    }
}