<header>
	<figure>
		<img src="../uploads/images/logo/{{ logo }}" alt="Dawn Of Light - Darkness Ressurgence" />
	</figure>
	<nav>
		<ul>
			{{ include('webpages/blocks/_navigation.html.twig', { pos: 0 }) }}
		</ul>
	</nav>
</header>
