.btn-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 1.5rem 0 0;
    padding-left: 0;
}

.btn {
    &-primary{
        @include btn-style();
        &-red-border {
            @extend .btn-primary;
            border-color: $colorS;
        }
    }
}